ion-item{
    max-width: 80% !important;
    margin-left: auto;
    margin-right: auto;
}
ion-title{
    color: #04d082;        
}
.submitBtn{
    max-width: 80% !important;
    margin-left: auto;
    margin-right: auto;
}