ion-item{
    max-width: 90% !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

ion-title{
    color: #04d082;        
}
.submitBtn{
    max-width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}