<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-icon name="arrow-back-outline" style="font-size: 20pt; color: #04d082; margin-right: 10px;" (click)="goBack()"></ion-icon>
    </ion-buttons>
    <div style="width: 100%; text-align: center; margin-left: -20px;">
      <ion-title>New Post </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input placeholder='Enter post title' [(ngModel)]="post_title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Comment</ion-label>
      <ion-textarea placeholder="Enter post description..." [(ngModel)]="post_content">
      </ion-textarea>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class='featurePhotoText'>Post Photo</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="showAvatar" (click)="selectImage()">
        <div class="mainImg" [style.background-image]="'url('+loadImage.path+')'"></div>
      </ion-col>
      <ion-col *ngIf="!showAvatar">
        <div class='mainImg'>
          <ion-icon name="camera-outline" class="cameraIcon" (click)="selectImage()"></ion-icon>
        </div>
      </ion-col>      
    </ion-row>
    <ion-row>
      <ion-col>
        <div class='featurePhotoText'>Post Video</div>
      </ion-col>
    </ion-row>    
    <ion-row>
    
      <ion-col (click)="presentActionSheet()">
        <div class="mainImg" *ngIf="selectedVideo" >
          <video [src]="videoId" width="100%" height="200"></video>
          <!-- <video width="100" height="100" autoplay>
            <source src={{videoId}} type="video/mp4">
          </video> -->
        </div>
        <div class='mainImg' *ngIf="!selectedVideo">
          <ion-icon name="videocam-outline" class="cameraIcon"></ion-icon>
        </div>
      </ion-col>
    </ion-row>    
  </ion-grid>
  <ion-button expand="block" class="submitBtn" (click)="submit()">Submit</ion-button> 
</ion-content>

<!-- <ion-header>
  <ion-navbar>
  <ion-title>
  Upload Video
  </ion-title>
  </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  <ion-grid class="grid">
  <ion-row class="row">
  <ion-col class="col">
  <button ion-button color="secondary" (click)="presentActionSheet()">Browse Video</button>
  </ion-col>
  <ion-col class="col">
  <button ion-button color="secondary" (click)="playVideo()" [disabled]="flag_play">Play Video</button>
  </ion-col>
  </ion-row>
  <ion-row class="row">
  <ion-col class="col">
  <button ion-button full block [disabled]="flag_upload" (click)="uploadVideo()">Upload Video</button>
  </ion-col>
  </ion-row>
  </ion-grid></ion-content> -->